<div class="mb-5 px-5">
  <label for="input-title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Words to Search?</label>
  <input type="text" id="input-title" (ngModelChange)="handleSearch($event)" [(ngModel)]="words" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-full bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your post title">
</div>