<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-purple">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-40 w-auto" src="../assets/img-login.png" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-extrabold leading-9 tracking-tight text-white">Easy Media</h2>
    <h2 class="text-center text-base font-semibold leading-9 tracking-tight text-blue-sky">Now, share is easy</h2>
    <h2 class="text-center text-lg font-semibold leading-9 tracking-tight text-white">Sign In</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-blue-dark">Email</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" required
                    class="w-full p-2 text-sm border-b-2 border-gray-400 outline-none bg-purple text-white focus:border-blue-400"
                    placeholder="example@email.com" />
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-blue-dark">Password</label>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" placeholder="•••••••••" autocomplete="current-password" required class="w-full p-2 text-base border-b-2 border-gray-400 outline-none bg-purple text-white focus:border-blue-400">
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-full bg-gradient-to-r from-cyan-500 to-violet-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-lg">SIGN IN</button>
      </div>
    </form>
  </div>
</div>